## emotion mining using extracted data from amazon

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [13]:
import pandas as pd
import numpy as np
import string
import spacy
from wordcloud import WordCloud
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [5]:
reviews=pd.read_csv('/content/drive/MyDrive/google colab/reviews.csv')

In [6]:
reviews

   Unnamed: 0  ...                                            Reviews
0           0  ...    I got all the accessories and original produ...
1           1  ...    Good phone even in 2018I was andriod fan boy...
2           2  ...    Got my hands on my first iPhone and the expe...
3           3  ...    Display scratch so is there any Chanses to r...
4           4  ...    Good cameraGood battery lifeTouch sensibilit...
5           5  ...    Using about 3weeks my opinion fot this iphon...
6           6  ...    I know in this price bracket there are sever...
7           7  ...    I chose iPhone plus because I have low visio...
8           8  ...    I have used the iPhone se for an year and de...
9           9  ...    I have been using Apple iPhone 7Plus for las...

[10 rows x 5 columns]

In [7]:
affin=pd.read_csv('/content/drive/MyDrive/google colab/Afinn.csv',sep=',',encoding='latin-1')

In [8]:
affin

           word  value
0       abandon     -2
1     abandoned     -2
2      abandons     -2
3      abducted     -2
4     abduction     -2
...         ...    ...
2472      yucky     -2
2473      yummy      3
2474     zealot     -2
2475    zealots     -2
2476    zealous      2

[2477 rows x 2 columns]

In [9]:
affin.shape

(2477, 2)

In [10]:
affin[1500:]

              word  value
1500  masterpieces      4
1501        matter      1
1502       matters      1
1503        mature      2
1504    meaningful      2
...            ...    ...
2472         yucky     -2
2473         yummy      3
2474        zealot     -2
2475       zealots     -2
2476       zealous      2

[977 rows x 2 columns]

In [16]:
affin.to_numpy()

array([['abandon', -2],
       ['abandoned', -2],
       ['abandons', -2],
       ...,
       ['zealot', -2],
       ['zealots', -2],
       ['zealous', 2]], dtype=object)

In [17]:
nlp=spacy.load('en_core_web_sm')

In [18]:
sentiment_laxicon=affin

In [21]:
def calculate_emotion(text:str=None):
    sent_score=0
    if text:
        reviews=nlp(text)
        print(reviews)
        for word in reviews:
            sent_score+=sentiment_laxicon.get(word.lemma_,0)
            return sent_score

In [22]:
calculate_emotion(text='Amazed')

Amazed

0

In [24]:
reviews['emotion_value']=reviews['Reviews'].apply(calculate_emotion)

  I got all the accessories and original product...
  Good phone even in 2018I was andriod fan boy but now i doubt :)Happy to have it.
  Got my hands on my first iPhone and the experience has been great so far. Games run smoothly and the camera is top-notch. Beautiful display and body. iPhone 7p is the best apple phone you can get with the best features and storage. My only complain is that the battery runs out quite fast and I need to carry my power bank everywhere I go but I haven‚Äôt upgraded to iOS 12.
  Display scratch so is there any Chanses to replace ??
  Good cameraGood battery lifeTouch sensibility very smooth5.5 hd display4k videographyQuit disappoint about packing my package was tear but product box was good
  Using about 3weeks my opinion fot this iphone 7 plus is in really amazing ,i used early android os but now switching for android to ios ,its really worth to spend 44k in dis , best in class camera , great sound output and decent battery too, only thing which im also noticed that for some app or in charging d phone phone really heated . I dont know why some times it does heating and sometimes not, apart from this im really in beast mode to buy this phone..
  I know in this price bracket there are several other options but why and who should consider to buy an iPhone 7 plus in 2020. Let's dig into the answer.1. Build quality is exceptional. Unibody aluminium and glass front with precision finishing. Better from other android phones and more durable than glass back phones.2. You know apple's iPad 10.2 which was launched in 2019 came out with the same chipset. A10 fusion chip. This is still capable enough and beleive me better than any Snapdragon 700 series processors. Even gives a tough competition to the 800 series. No lags no stutters nothing at all. OS is brilliantly optimised.3. Iphone 7 plus will get ios 14 and 15. This phone is a long runner. You will get software support for next three years for sure. I hardly doubt any android would get the same treatment in this price range. Even iphone 6 series would get ios 14. Just imagine.4. Battery backup is not extraordinary. But the OS is brilliantly optimised as I've told earlier. So you would get one day of back up for moderate to heavy use. You will get more than 5 hours screen on time on heavy usage, which is considered to be great in this time.5. Camera is the only department where it lacks. You can expect good pictures in daylight condition with crisp details and decent quality. Low light performance is average. Takes decent selfies also. But in this era of megapixel counts I must be honest that iphone 7 plus doesn't deliver a stellar camera performance. So if this is your only zone of consideration I would suggest don't go for iphone 7 plus, as it is a decent performer but not an exceptional one.6. If you're familiar to IOS then you know how good is this. So I would not elaborate this category. People who want to shift from Android, they won't be disappointed.This was my honest opinion. Now you make the decision. Thank you.
  I chose iPhone plus because I have low vision and found it difficult to read messages , mails in my iphone5s. I like the phone, silver in coliour . The picture quality is better than the previous versions. Now I am able to read mails, watch videos on the bigger screen.It  is a boon for persons like me having impaired vision.
  I have used the iPhone se for an year and decided to jump the cannon with iPhone 7 plus. After searching and researching on various online platforms, I set my eye on this beast. To be truthfull I had to tweak my notifications, haptics and make other changes to make this phone last longer than 5 hours a day.Yet, I am not complaining!The phones clicks amazing pictures, especially at low light (you just need to know the camera lens and external lighting).Best buy for me during the big Indian shopping featival that Amazon held early October.All-in-all 5 star purchase.
  I have been using Apple iPhone 7Plus for last 18 months and there have been ZERO complaints so far. Though upgrades have come, I will be using it for at least another 18-24 months before moving to next-gen Apple product.

In [25]:
reviews

   Unnamed: 0  ... emotion_value
0           0  ...             0
1           1  ...             0
2           2  ...             0
3           3  ...             0
4           4  ...             0
5           5  ...             0
6           6  ...             0
7           7  ...             0
8           8  ...             0
9           9  ...             0

[10 rows x 6 columns]